<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python FCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python36_64\python.exe" resourceType="Unspecified" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
