{% extends "layout.html" %}

{% block content %}
<h2>
    About this Site
</h2>
<p>
    This site was developed by John Wiens, between the hours of 3 and 4 am, on random airplanes, and while he really should have been doing homework. As such this site is provided as is, and you connect to this site at your own risk.
</p>

<h2>
    About the Highlanders Scouting Application
</h2>
<p>
    The Highlanders Scouting Application was written in Python 3 using python Flask. Flask is a microframework for python designed for hosting and running python based websites. The Data results you are looking at such as OPR, Cargo, and Hatches are solved for using OLS (Ordinary Least Squares). Hab and Climb data are provided directly from the Blue alliance. Code for this project can be found here: https://github.com/John-Wiens/HighlanderScouting
</p>


{% endblock %}