{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>2019 Highlanders Scouting</h1>
    <!--<p class="lead"></p>-->
    <!--<p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>
<h2>Checkout 2019 World Championship Events!</h2>
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="{{ url_for('rankings') }}/2019carv/rankings">Carver &raquo;</a>    Check out Carver</p>
    </div>

    <div class="col-md-4">
        <p><a class="btn btn-default" href="{{ url_for('rankings') }}/2019gal/rankings">Galileo &raquo;</a>    Check out Galileo</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="{{ url_for('rankings') }}/2019hop/rankings">Hopper &raquo;</a>    Check out Hopper</p>
    </div>

    <div class="col-md-4">
        <p><a class="btn btn-default" href="{{ url_for('rankings') }}/2019new/rankings">Newton &raquo;</a>    Check out Newton</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="{{ url_for('rankings') }}/2019roe/rankings">Roebling &raquo;</a>    Check out Roebling</p>
    </div>

    <div class="col-md-4">
        <p><a class="btn btn-default" href="{{ url_for('rankings') }}/2019tur/rankings">Turing &raquo;</a>    Check out Turing</p>
    </div>
</div>

<h2>Checkout other events the Highlanders are Attending!</h2>
<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="{{ url_for('rankings') }}/2019code/rankings">Colorado &raquo;</a>    Check out the Colorado regional</p>
    </div>

    <div class="col-md-4">
        <p><a class="btn btn-default" href="{{ url_for('rankings') }}/2019okok/rankings">Oklahoma &raquo;</a>    Check out the Oklahoma regional</p>
    </div>
</div>

{% endblock %}
