{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>2019 Highlanders Scouting</h1>
    <!--<p class="lead"></p>-->
    <!--<p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Team Rankings</h2>
        <p>
            View sum data of team performance
        </p>
        <p><a class="btn btn-default" href="{{ url_for('rankings') }}">Rankings &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Individual Teams</h2>
        <p>See Pictures of teams and their Stats</p>
        <p><a class="btn btn-default" href="{{ url_for('teams') }}">Teams &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>See what craziness went into this thing</p>
        <p><a class="btn btn-default"  href="{{ url_for('about') }}">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
